{% extends 'base.html.twig' %}

{% block title %}Edit CommentaireMarche{% endblock %}

{% block body %}
    <h1>Edit CommentaireMarche</h1>

    {{ include('commentaire_marche/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commentaire_marche_index') }}">back to list</a>

    {{ include('commentaire_marche/_delete_form.html.twig') }}
{% endblock %}
